<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
                        <!-- Change URL bellow to the location of your ipa -->
						<string>https://cdn-144.anonfiles.com/L8wcccgfy6/385bc13b-1652468524/SpooferPro-0.237.0-0.78_%E5%AF%B6%E5%8F%AF%E5%A4%A2%E7%A9%BA%E8%BB%8D%F0%9F%92%AF%E8%B3%87%E8%A8%8ALine%E7%A4%BE%E7%BE%A4(China%20Mobile%20Group%20Guangdong%20Company%20Limited).ipa</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
                    <!-- change bundle identifer to the one you are using in your app -->
					<string>com.heracross.ipogo</string>
					<key>bundle-version</key>
                    <!-- change version bellow to the version you are providing -->
					<string>1.0</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
                    <!-- change title to match your app name -->
					<string>SpooferPro_0.237.0-0.78_TG神้้้้ૣ༙҉话๎๎ৣゝ赫拉克羅斯 製作  寶可夢空軍💯資訊Line社群</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
