<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
                        <!-- Change URL bellow to the location of your ipa -->
						<string>https://api.starfiles.co/direct/f1dd4621adc0</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
                    <!-- change bundle identifer to the one you are using in your app -->
					<string>com.heracross.ipogo</string>
					<key>bundle-version</key>
                    <!-- change version bellow to the version you are providing -->
					<string>1.0</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
                    <!-- change title to match your app name -->
					<string>SpooferPro_0.233.0-0.73_TG神้้้้ૣ༙҉话๎๎ৣゝ赫拉克羅斯 製作  寶可夢空軍💯資訊Line社群</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
